body{
    background-color: antiquewhite;
}

.titulo{
    background-color: brown;
    color: wheat;
    text-align: center;
}

.coment1{
    background-color: gray;
    color: white;
}

.subtitulo{
    background-color: black;
    color: white;
}

.listas{
    background-color: wheat;
    color: black;
}